####################################################
#
# List of approvers for Identity project
#
#####################################################
* @jadiaconu @beryder @mkedjour @rafaelsilva29 @copasseron @hmuyal @mayannuz @agntcy/identity-maintainers
