########################
# GO CONF
########################
SERVER_HTTP_HOST=:4000
SERVER_GRPC_HOST=:4001
GO_ENV=development
LOG_LEVEL=DebugLevel
API_URL=http://localhost:4000

########################
# DB
########################
DB_HOST=
DB_PORT=5432
DB_NAME=identity
DB_USERNAME=
DB_PASSWORD=
DB_USE_SSL=
